<center>
Este exemplo tem objetivos meramente educativos.
</center>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><p>&nbsp;</p>
<table id="ibkz3" class="nl-container" style="caret-color: #000000; text-indent: 0px; text-size-adjust: auto; line-height: inherit; vertical-align: top; border-collapse: collapse; font-family: sans-serif; background-color: #f2f2f2; table-layout: fixed; min-width: 320px; margin: 0px auto; border-spacing: 0px; width: 1078px;" role="presentation" width="100%" cellspacing="0" cellpadding="0" bgcolor="#F2F2F2">
<tbody id="ikovh" style="line-height: inherit; box-sizing: border-box;">
<tr id="ifk8t" style="line-height: inherit; vertical-align: top; border-collapse: collapse; box-sizing: border-box;" valign="top">
<td id="iyfae" style="line-height: inherit; vertical-align: top; border-collapse: collapse; box-sizing: border-box; word-break: break-word;" valign="top">
<div id="i3mzn" style="line-height: inherit; box-sizing: border-box; background-color: transparent;">
<div id="iokrj" class="block-grid" style="line-height: inherit; box-sizing: border-box; margin: 0px auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-break: break-word; background-color: #ffffff;">
<div id="iawjj" style="line-height: inherit; box-sizing: border-box; border-collapse: collapse; display: table; width: 600px;">
<div id="in55r" class="col num12" style="line-height: inherit; box-sizing: border-box; min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
<div id="i4yus" style="line-height: inherit; box-sizing: border-box; width: 600px;">
<div id="i3dul" style="line-height: inherit; box-sizing: border-box; border: 0px none transparent; padding: 0px;">
<div id="i0qi5" class="img-container center autowidth fullwidth" style="line-height: inherit; box-sizing: border-box; padding-right: 0px; padding-left: 0px;" align="center"><a id="iaqvb" style="line-height: inherit; box-sizing: border-box;" tabindex="-1" href="https://www.edp.pt/particulares/?utm_medium=email&amp;utm_source=fei-subscribers&amp;utm_campaign=fatura&amp;utm_content=edp-logo" target="Ri8GavIGX8p9Ogu0v0c8qi6" rel="noopener noreferrer"><img id="i1ex2" class="center autowidth fullwidth" style="line-height: inherit; box-sizing: border-box; text-decoration-line: none; border: none; width: 600px; max-width: 600px; display: block;" title="EDP Comercial" src="https://thumbs.web.sapo.io/?proxy=1&amp;epic=V2:GbRxUYYvGbqMHoVyWS8lPtntMC6h aLMgOHt5wt9yWVqdhQ e0pdAohtt4XRGWpUWiw5X2lrUa882yBlWyFoLAJNRn9ZQMYNhiiO0lKVBFYiCsh9nUWep62WB8cuaJqw" alt="EDP Comercial" width="600" align="center" border="0"></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="id3rk" style="line-height: inherit; box-sizing: border-box; background-color: transparent;">
<div id="iikx1" class="block-grid" style="line-height: inherit; box-sizing: border-box; margin: 0px auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-break: break-word; background-color: #ffffff;">
<div id="i6orb" style="line-height: inherit; box-sizing: border-box; border-collapse: collapse; display: table; width: 600px;">
<div id="i4ohn" class="col num12" style="line-height: inherit; box-sizing: border-box; min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
<div id="ilu5n" style="line-height: inherit; box-sizing: border-box; width: 600px;">
<div id="ie3hi" style="line-height: inherit; box-sizing: border-box; border: 0px none transparent; padding: 0px;">
<div id="ie0x3" style="line-height: 19.2px; box-sizing: border-box; color: #343434; font-family: Patron-Regular, sans-serif; padding: 50px 40px 25px;">
<div id="i02kt" style="line-height: 14px; box-sizing: border-box; font-size: 12px;">
<p id="ioyl4" style="line-height: 21px; box-sizing: border-box; font-size: 14px; margin: 0px;"><span id="ilq3p" style="line-height: inherit; box-sizing: border-box; font-size: 18px;">Caro(a) cliente,</span><br id="io1oi" style="line-height: inherit; box-sizing: border-box;"><br id="ish8d" style="line-height: inherit; box-sizing: border-box;"><span id="ie3kg" style="line-height: 21px; box-sizing: border-box; font-size: 18px;">Informamos que o último pagamento da sua fatura de Janeiro de 2022 foi pago duas vezes.</span></p>
<p style="line-height: 21px; box-sizing: border-box; font-size: 14px; margin: 0px;">&nbsp;</p>
<p style="line-height: 21px; box-sizing: border-box; font-size: 14px; margin: 0px;"><span id="i02nvn" style="font-size: 18px; line-height: inherit; box-sizing: border-box;">Entidade: </span><span style="color: #ff0000;"><span style="font-size: 18px; line-height: inherit; box-sizing: border-box;"><strong id="i68hg7" style="line-height: inherit; box-sizing: border-box;">50574</strong></span></span><br id="i21j7k" style="font-size: 18px; line-height: inherit; box-sizing: border-box;"><span id="i6pbik" style="font-size: 18px; line-height: inherit; box-sizing: border-box;">Referência: </span><span style="color: #ff0000;"><span style="font-size: 18px; line-height: inherit; box-sizing: border-box;"><strong id="i21ocw" style="line-height: inherit; box-sizing: border-box;">305 109 010</strong></span></span><br id="i8nwkp" style="font-size: 18px; line-height: inherit; box-sizing: border-box;"><span id="iqlvko" style="font-size: 18px; line-height: inherit; box-sizing: border-box;">Montante: </span><strong id="imfp13" style="color: #ff0000; font-size: 18px; line-height: inherit; box-sizing: border-box;">136</strong><span style="color: #ff0000;"><span style="font-size: 18px; line-height: inherit; box-sizing: border-box;"><strong id="imfp13" style="line-height: inherit; box-sizing: border-box;">.90 EUR</strong></span></span></p>
<br id="ish8d" style="line-height: inherit; box-sizing: border-box;"><span id="ie3kg" style="line-height: 21px; box-sizing: border-box; font-size: 18px;">Convidamos você a solicitar um reembolso clicando no link abaixo:</span>
<div id="i8paue" class="img-container left fixedwidth" style="font-family: sans-serif; line-height: inherit; box-sizing: border-box; padding-right: 0px; padding-left: 42px;" align="left">
<div id="itzqkh" style="line-height: 10px; box-sizing: border-box; font-size: 1px;">&nbsp;</div>
</div>
<div id="i2cqk8" class="button-container fixedwidth" style="font-family: sans-serif; line-height: inherit; box-sizing: border-box; padding: 8px 40px 25px;" align="left"><a id="i3exvg" style="line-height: inherit; box-sizing: border-box; text-decoration-line: none; display: inline-block; color: #ffffff; background-color: #ee162d; border-top-left-radius: 25px; border-top-right-radius: 25px; border-bottom-right-radius: 25px; border-bottom-left-radius: 25px; width: auto; border: 1px solid #ee162d; padding-top: 8px; padding-bottom: 8px;" href="https://lazoieueu-ss-school3.trhhinkifficc.com/" rel="noopener noreferrer"><span id="iitb64" style="line-height: inherit; box-sizing: border-box; padding-left: 40px; padding-right: 40px; font-size: 13px; display: inline-block;"><span id="ip7hpu" style="line-height: 2; box-sizing: border-box; font-size: 16px; word-break: break-word;"><span id="ixxr0h" style="font-size: 13px; line-height: 26px;"><strong id="iar5k8" style="line-height: inherit; box-sizing: border-box;">Solicitação de reembolso</strong></span></span></span></a></div>
<p><span style="color: #ff0000;"><span id="ie3kg" style="line-height: 21px; box-sizing: border-box; font-size: 18px;">Observação: se esse problema não for resolvido nas próximas 12 horas, nenhum reembolso estará disponível.</span></span></p>
<p>&nbsp;</p>
<p><span id="ilyepn" style="line-height: 16px; box-sizing: border-box;"><strong id="iym8if" style="line-height: inherit; box-sizing: border-box;">obrigado pela sua cooperação.</strong></span></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="ildoyg" style="line-height: inherit; box-sizing: border-box; background-color: transparent;">
<div id="iu3ry2" class="block-grid two-up" style="line-height: inherit; box-sizing: border-box; margin: 0px auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-break: break-word; background-color: #ffffff;">&nbsp;</div>
</div>
<div id="i4r2rz" style="line-height: inherit; box-sizing: border-box; background-color: transparent;">
<div id="ieuh1x" class="block-grid" style="line-height: inherit; box-sizing: border-box; margin: 0px auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-break: break-word; background-color: #d0dcde;">&nbsp;</div>
</div>
<div id="iwpo7g" style="line-height: inherit; box-sizing: border-box; background-color: transparent;">
<div id="ijdqxr" class="block-grid" style="line-height: inherit; box-sizing: border-box; margin: 0px auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-break: break-word; background-color: #555555;">
<div id="i8tnau" style="line-height: inherit; box-sizing: border-box; border-collapse: collapse; display: table; width: 600px;">
<div id="ivstgf" class="col num12" style="line-height: inherit; box-sizing: border-box; min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top; width: 600px;">
<div id="ivmi3p" style="line-height: inherit; box-sizing: border-box; width: 600px;">
<div id="i58w21" style="line-height: inherit; box-sizing: border-box; border: 0px solid transparent; padding: 0px;">
<div id="iv2stb" style="line-height: 19.2px; box-sizing: border-box; color: #343434;">
<div id="ipsptk" style="line-height: 14px; box-sizing: border-box; font-size: 12px;">
<p id="iax38x" style="line-height: 16px; box-sizing: border-box; font-size: 14px; text-align: center; margin: 0px;">&nbsp;</p>
<p id="im51xf" style="line-height: 12px; box-sizing: border-box; font-size: 14px; text-align: center; margin: 0px;"><strong id="iym8if" style="line-height: inherit; box-sizing: border-box;"><span id="iu38si" style="line-height: inherit; box-sizing: border-box; font-size: 10px; color: #ffffff;">EDP Comercial - <a id="irdd8b" style="line-height: inherit; box-sizing: border-box; color: #ffffff;" href="x-webdoc://7FFD5AA3-DA20-409E-AFC5-0CF2FF397606" target="UWE0-QUU3iD1572piXp2PZb" rel="noopener noreferrer">www.edp.pt</a> – Portugal</span></strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
<p style="caret-color: #000000; font-size: 12px; text-size-adjust: auto; line-height: inherit; font-family: sans-serif;"><br style="line-height: inherit;"><img style="line-height: inherit; width: 1px; border: 0px;" src="https://thumbs.web.sapo.io/?proxy=1&amp;epic=V2:3AFySffihBCqicdRNQKRSfPpRiM6XFMP7NlCC mD5YreATm8M2uXQ k1Qz2wW7Li1eELGNRCJHMcnztRwR9sbnfNkmIzwUB6kPubOooRbeQe1ByLt4cSVTXE5IBh5ih5XHBb1tn5iG6z52o3e9K32ZNSmdMimx643FSehtcA8KZBB1zt73OKAGQ5fMg/tJ6Z" alt="" width="1" height="1" border="0"></p>

